@charset "utf-8";
/* ===================================================================
 リセット
=================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,p,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
body {
	line-height:1;
}
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}
nav ul {
	list-style:none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
ins {
	background-color:#ff9;
	color:#000;
	text-decoration:none;
}
mark {
	background-color:#ff9;
	color:#000;
	font-style:italic;
	font-weight:bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom:1px dotted #000;
	cursor:help;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0;
}
input, select {
	vertical-align:middle;
}
li {
	list-style-type: none;
}
body {
	color: #333;
	font-size:12px;
	font-family: "メイリオ","Meiryo",verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	line-height: 1.5;
}
* html body {	/* for IF6 */
	font-family: "ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
}

/*--- clearfix */
/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

a{
	border-style:none;
}

a hover{
		border-style:none;

}

/* ===================================================================
 ここからcss表記
=================================================================== */
body{
	background:url(../../img/menubg3.gif) top repeat-x;
	}
#wrapper {
	width:900px;
	margin:0 auto;
	text-align:left;
	}

/* ===================================================================
 header
=================================================================== */

/*-------------------
menu
------------*/
	
#header ul.clearfix{
	width: 100%;
	margin-top:34px;
	padding: 0 0 0 0;
    list-style: none;  
    background-color: #111;
    background-image: linear-gradient(#18171a, #111);
	}
	
ul.clearfix li{
	  list-style: none;
	  margin:0;
	  font-size:13px;
	  float: left;
	  position: relative;
	  width: 150px;/*親メニューの幅*/
	  height: 40px;/*親メニューの高さ*/
	  line-height: 40px;
	  background:#111;/*親メニューの背景色*/
	  color:#999999;/*親メニューの文字色*/
	  text-align:center;
	}
	
ul.clearfix li a {
	color:#ffffff;
	display: block;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
	}
	
ul.clearfix li:hover, ul.clearfix li a:hover {
	  color:#ffffff;/*ホバー時の親メニューの文字色*/
	}
 ul.clearfix li ul {
	  position: absolute;
	  top: 40px;/*親メニューの高さと同じにする*/
	  width: 150px;
	  z-index: 100;
	}
 ul.clearfix li ul li {
	  visibility: hidden;
	  overflow: hidden;
	  width: 150px;/*サブメニューの幅*/
	  height: 0;
	  background:#626168;/*サブメニューの背景色*/
	  margin-left:-70px;
	  
	}
	
 ul.clearfix li ul li:hover,  ul.clearfix li ul li a:hover {
	  background:#56565a;/*ホバー時のサブメニューの背景色*/
	  text-shadow: 0 1px 0 #000;
	}
	
 ul.clearfix li:hover ul li,  ul.clearfix li a:hover ul li{
	  visibility: visible;
	  overflow: visible;
	  height:40px;/*サブメニューの高さ*/
	  z-index: 10;
	}
	

/* ===================================================================
 main
=================================================================== */

#main {
	width:900px;
	margin-top:15px;
	margin-bottom:30px;	
	}

.image-row{
	margin-top:30px;
	}
	
.image-row p{
	font-size:0.8em;
	margin-top:5px;
	}

/* パンクズ */
#pankuzu {
	font-size:11px;
	color:#666;
	margin-bottom:5px;
	text-align:right;
}
#pankuzu a {
	text-decoration:none;
	color:#999;
}
#pankuzu a:hover {
	color:#333;
}


/* メイン */

#main h3 {
	clear:both;
	padding:40px 0 24px 0;
	font-size:1.3em;
	color:#333;
	}

#gyouji {
	margin-top:20px;
	}

h2 {
	margin-top:30px;
	}
	
h4{
	font-size:1.2em;
	margin-bottom:10px;
	margin-top:10px;
	}


#gotop{
	clear:both;
	text-align:right;
	}


/* ===================================================================
 footer
=================================================================== */

#footer {
	background-color:#3f4146;
	margin-top:50px;
	color:#ffffff;
	}

#footer_in{
	margin:0 auto;
	width:900px;
	padding-top:15px;
	padding-bottom:20px;
	}
	
#footer_in dl{
	padding-bottom:10px;
	padding-left:225px;
	background-image:url(../../img/footerinbk.gif);
	}
	
#footer_in dt{
	clear:left;
	float:left;
	text-align:left;
	font-size:1.1em;
	width:250px;
	}
	
#footer_in dd{
	text-align: left;
	background-repeat: no-repeat;
	margin-left:250px;
	}
	
#footer_in p{
	text-align:center;
	font-size:0.8em;	
	}


/* ===================================================================
 top
=================================================================== */


#wrapper #header #header_menu #menu li {
	color: #ffffff;
}
