@charset "utf-8";
/* CSS Document */

#content{
	width:900px;
	}
	
/*インデックス*/

.topimg{
	margin-top:60px;
	}
	
div #news h2.top{
	margin-top:54px;}

#news dl{
	margin-top:30px;
	}
	

#news dt{
	float:left;
	width:200px;
	padding-left:20px;
	border-bottom:dotted 1px;
	padding-bottom:10px;
	}
	
#news dd{
	float:left;
	padding-bottom:10px;
	border-bottom:dotted 1px;
	width:680px;
	}
	
#under .clearfix dt {
	margin-top: 30px;
	}
#under p.gazou{
	float:right;
	width:330px;
	margin-top:44px;
	,
	}
	

/*26年度行事予定*/
	
#l_side{
	float:left;
	width:230px;
	}
	
#r_side{
	float:right;
	width:650px;
	}


/*26年度行事予定、講座案内　*/

#kouza{
	background-color:#e7e0cb;
	margin-top:30px;
	width:220px;
	}	

#l_side .title{
	font-size:1.4em;
	padding-left:10px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:5px;
	}

#l_side ul{
	margin:19px 14px 25px 14px;
	background:url(../../img/bg_side1.gif) no-repeat;
	width:190px;
	}
	
#l_side ul li {
	border-top:dotted 1px #e7e0cb;
	}

#l_side ul li:first-child {
	border-top:none;
}

#l_side ul li a{
	padding:14px 13px;
	display:block;
	color:#333;
	text-decoration:none;
}

#l_side ul li a:hover {
	background-color:#fefbf1;
	color:#000;
	opacity: 0.7;
}

#kouza p{
	background-color:#e7e0cb;
	padding-left:9px;
	padding-bottom:30px;
	font-size:0.9em;
	color:#746467;
	}	


/*26年度行事予定、講座案内　沿革　右側*/

#r_side table {
	float:right;
	width:100%;
	margin-bottom:20px;
	}

#r_side table tr .name{
	width:130px;
	font-size:1.2em;
	}
	
#r_side table tr .hiduke{
	width:160px;
	font-size:1.2em;
	}
	
#r_side table tr .kaijou{
	width:270px;
	font-size:1.2em;
	}

#r_side table tr th {
	background-color:#efefef;
	white-space:nowrap;
	color:#666;
	border:solid 1px #ccc;
	padding:5px;
	width:130px;
	}
	
#r_side table tr td {
	padding:9px 0 5px 5px;
	border:solid 1px #ccc;
	vertical-align:top;
	}

#r_side table tr th .ehiduke {
	background-color:#efefef;
	white-space:nowrap;
	color:#666;
	border-bottom:solid 1px #ccc;
	padding:5px;
	width:130px;
	}
	
#r_side table tr td .enkaku {
	border-bottom:solid 1px #ccc;
	vertical-align:top;
	width:500px;
	padding:25px 10px 10px 5px;
	}

/*講座案内　右側*/
#r_side table tr td .aten{
	color:#F00;
	}

#r_side h3.kouza{
	clear:both;
	font-size:1.3em;
	background: url(../../course/img/s_title.gif) no-repeat 0 50%;
	padding:9px 0 24px 74px;
	color:#0c0b0d;
	}
	
	
#r_side p.setumei{
	margin-bottom:7px;
	margin-top:14px;
	}
	


/* 法人概要　r_side  */

#r_side table tr td.gaiyou {
	color:#666;
	padding:5px;
	border:none;
	width:60px;
	}
#r_side table tr td.gaiyou2 {
	color:#666;
	padding:5px;
	border:none;
	}
	
#r_side table tr td.gaiyou3 {
	color:#666;
	padding:5px;
	border:none;
	text-align:right;
	}
	
#r_side h5{
	margin-bottom:14px;
	}

/* 沿革　r_side  */

#r_side table tr td.enkaku {
	border-bottom:solid 1px #ccc;
	vertical-align:top;
	width:490px;
	padding:10px 10px 10px 5px;
	}
	

/* 会館のご案内  */

p.map1 {
	margin-left:100px;
	margin-bottom:40px;
	}
	
p.map2 {
	margin-left:90px;
	border: thin solid #999;
	width:500px;
	margin-bottom:30px;
	}
	
h4.map{
	margin-left:20px;
	margin-top:24px;
	font-size:1.3em
	}
	
.map:first-letter{
  font-weight:bold;
  font-size:150%;
  color:#f49c11;
}

#access dt{
	clear:left;
	float:left;
	font-size:1.2em;
	margin-left:20px;
	width:250px;
	}
	
#access dd{
	text-align:left;
	margin-left:270px;
	}
#access p{
	margin-left:30px;
	}

/* publishment メイン1  */

#main_1 table{
	width:900px;
	margin:30px 0 5px 0;
	}
	
#main_1 table tr th {
	width:170px;
	font-size:1.2em;
	background-color:#efefef;
	white-space:nowrap;
	color:#666;
	border-bottom:solid 1px #ccc;
	padding:5px;
	}

#main_1 table tr td {
	font-size:1.2em;
	border-bottom:solid 1px #ccc;
	vertical-align:top;
	white-space:nowrap;
	padding:15px 10px 10px 20px;
	}

/* publishment メイン1 ここまで */


/*リンク*/
#link li{
	background:url(../../img/ya.gif) no-repeat;
	width:740px;
	margin-bottom:14px;
	margin-left:30px;
	padding-left:30px;
	padding-bottom:6px;
	border-bottom:dotted #666666;}

	